.half-screen-div {
    height: 150vh;
    background-color: #31363F;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding-top: 2%;
    align-items: center;
    margin-left: 250px;
    border-left: 1px solid #ccc;
    border-radius: 10px; 
    overflow-y: scroll; 
    gap: 15px;
    padding-left: 5%;
}

.half-screen-div::-webkit-scrollbar{
  color: white;
}

.half-screen-div::-webkit-scrollbar-thumb{
  border-color: darkgray;
  border-radius: 6px;
  border: 3px solid white;
}

  .car-list {
    list-style: none;
  }
  
  .car-item {
    display: flex;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 10px;
    height: 55vh;
  }
  
  .car-image {
    width: 250px;
    height: auto;
    border-radius: 8px;
    height: 30vh;
  }
  

  .car-details h3 {
    margin-top: 0;
  }
  
  .car-details p {
    margin: 5px 0;
  }
  
  