.half-screen-div {
    height: 110vh;
    background-color: #31363F;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    align-items: center;
    margin-left: 250px;
    border-left: 1px solid #ccc;
    border-radius: 10px; 
    overflow-y: scroll; 
}

.half-screen-div::-webkit-scrollbar{
  color: white;
}

.half-screen-div::-webkit-scrollbar-thumb{
  border-color: darkgray;
  border-radius: 6px;
  border: 3px solid white;
}

  .car-list {
    list-style: none;
  }
  
  .car-item {
    display: flex;
    border: 2px solid #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .car-image {
    width: 250px;
    height: auto;
    margin-right: 20px;
  }
  

  .car-details h3 {
    margin-top: 0;
  }
  
  .car-details p {
    margin: 5px 0;
  }
  
  