.halfScreenDiv {
    height: 110vh;
    max-height: 800px;
    background-color: #161719;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    border-left: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .carImage {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px; /* Espaço entre a imagem e a lista */
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #fff;
  }
  
  button {
    padding: 10px 15px;
    margin-right: 10px; /* Espaço entre os botões */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .deleteButton {
    background-color: #ff6347;
  }
  
  .deleteButton:hover {
    background-color: #e55342;
  }
  
  .editButton {
    background-color: #f6cd00;
  }
  
  .editButton:hover {
    background-color: #a09a45;
  }
  