.half-screen-div {
    height: 100vh;
    max-height: 800px;
    background-color: #161719;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    border-left: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .car-container {
    display: flex;
    align-items: center;
    gap: 20px; /* Espaço entre a imagem e a lista */
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #fff; /* Mudança para branco para melhor contraste com o fundo escuro */
  }
  
  .car-image {
    max-width: 200px; /* Define uma largura máxima para a imagem */
    height: auto;
    border-radius: 8px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e55342;
  }
  