/* Sidebar.css */
.sidebar {
    position: absolute;
    top: 0;
    left: 0; /* Ajustado para o canto esquerdo */
    width: 250px;
    height: 110vh;
    background-color: #333;
    padding-top: 60px;
    transition: transform 0.3s ease;
    padding-left: 1rem;
  }


.sidebar img {
    width: 220px;
    height: auto;
}
    
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
img .logo {
    width: 29px;
    height: auto;
}

.btns button{
  margin-top: 5%;
  color: black;
  width: 50%;
}