.listaClientes{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 15%;
    background-color: #31363F;
    color: white;
    height: 100vh;
    overflow-y: auto;
}


table {
    width: 95%;
    border-collapse: collapse;
    margin-top: 2%;
    font-size: 18px;
    text-align: left;
    height: auto;
  }
  
  table thead {
    background-color: #006f5d;
    color: #ffffff;
  }
  
  table thead th {
    padding: 12px 15px;
  }
  
  table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  table tbody td {
    padding: 12px 15px;
  }
  
  table tbody td a, table tbody td button {
    color: white;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  table tbody td a:hover, table tbody td button:hover {
    color: #006f5d;
  }